In [40]:
import pandas
df = pandas.read_excel(
    "/Users/anthonyshaw/downloads/datadotgov_ais_sample.xlsx",
    engine="openpyxl",
    true_values=("Y",),
    false_values=("n", "", " ", None),
)
def map_postcode(postcode):
    postcode = int(postcode)
    if (1000 <= postcode <= 1999) or (2000 <= postcode <= 2599) or (2619 <= postcode <= 2899) or (2921 <= postcode <= 2999):
        return 'NSW'
    if (200 <= postcode <= 299) or (2600 <= postcode <= 2618) or (2900 <= postcode <= 2920):
        return 'ACT'
    if (3000 <= postcode <= 3999) or (8000 <= postcode <= 8999):
        return 'VIC'
    if (4000 <= postcode <= 4999) or (9000 <= postcode <= 9999):
        return 'QLD'
    if (5000 <= postcode <= 5999):
        return 'SA'
    if (6000 <= postcode <= 6999):
        return 'WA'
    if (7000 <= postcode <= 7999):
        return 'TAS'
    if (800 <= postcode <= 999):
        return 'NT'

df.dropna(subset=['ABN'], inplace=True) # Remove entries with no ABN

df['Town_City'] = df['Town_City'].apply(lambda x: str(x).title())
df['Reporting_hours___Paid'].fillna(0, inplace=True)
df['Reporting_hours___Unpaid'].fillna(0, inplace=True)
df['Reporting_hours___Total'].fillna(0, inplace=True)

df['State'] = df['Postcode'].apply(map_postcode)

df

,ABN,Charity_Name,Other_Organisation_Names,Address_Type,Address_Line_1,Address_Line_2,Town_City,State,Postcode,Country,...,Reporting_Obligations___NT,Reporting_Obligations___QLD,Reporting_Obligations___SA,Reporting_Obligations___TAS,Reporting_Obligations___VIC,Reporting_Obligations___WA,Reporting_hours___Paid,Reporting_hours___Unpaid,Reporting_hours___Total,Address_Line_3
0,11000047950,Sydney Missionary & Bible College,NaN,Business,43 Badminton Road,NaN,Croydon,NSW,2132,AUSTRALIA,...,NaN,NaN,NaN,NaN,NaN,NaN,100.0,10.0,110.0,NaN
1,11000073870,Integricare,NaN,Business,2/23 Belmore St,NaN,Burwood,NSW,2134,AUSTRALIA,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN
2,11000761571,Australian Missionary Tidings,NaN,Business,35 Miriam Street,NaN,Holland Park West,QLD,4121,AUSTRALIA,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN
3,11001233790,The Greek Orthodox Church & Community Of The H...,NaN,Business,11 Steel St,NaN,Hamilton,NSW,2303,AUSTRALIA,...,NaN,NaN,NaN,NaN,NaN,NaN,5.0,10.0,15.0,NaN
4,11001241005,Wangarang Industries Limited,NaN,Business,1635 Forest Rd,NaN,Orange,NSW,2800,AUSTRALIA,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,0.0,4.0,NaN
5,11001350867,Subud Australia,NaN,Business,P.O. BOX 7055,NaN,Greenway,ACT,2900,AUSTRALIA,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN
6,11001794396,Bethel Christian School Limited,NaN,Business,106-114 Mt Druitt Rd,NaN,Mt Druitt,NSW,2770,AUSTRALIA,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN
7,11001832828,Pacific Hills Christian Education Limited,NaN,Business,9-15 Quarry Road,NaN,Dural,NSW,2158,AUSTRALIA,...,NaN,NaN,NaN,NaN,NaN,NaN,80.0,0.0,80.0,NaN
8,11002058127,Burrum Benevolent Society Inc,NaN,Business,1-4 Prosper Street,NaN,Nan,QLD,4659,AUSTRALIA,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN
9,11002389746,St Peters Pre-School Ltd,NaN,Business,87 O'Dell St,NaN,Armidale,NSW,2350,AUSTRALIA,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN
10,11002595422,Chrysalis School For Rudolf Steiner Education Ltd,NaN,Business,Chrysalis Steiner School,703 Darkwood Rd,Darkwood,NSW,2454,AUSTRALIA,...,NaN,NaN,NaN,NaN,NaN,NaN,30.0,0.0,30.0,NaN
11,11003362481,Lasercraft Australia Ltd,NaN,Business,3-4 Jusfrute Dr,NaN,Gosford West,NSW,2250,AUSTRALIA,...,NaN,NaN,NaN,NaN,NaN,NaN,20.0,0.0,20.0,NaN
12,11004285956,Australian Nurses Memorial Centre,NaN,Business,Suite 11 Fawkner Towers,431 St Kilda Road,Melbourne,VIC,3004,AUSTRALIA,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN
13,11004857827,Austin Medical Research Foundation,NaN,Business,Austin Health,Studley Rd,Heidelberg,VIC,3084,AUSTRALIA,...,NaN,NaN,NaN,NaN,NaN,NaN,30.0,0.0,30.0,NaN
14,11005151771,Braemar College Limited,NaN,Business,Mount Macedon Road,NaN,Woodend,VIC,3442,AUSTRALIA,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN
15,11005353218,Buddha Sasana Association Of Australia Incorpo...,NaN,Business,25 Rutland Road,NaN,Medlow Bath,NSW,2780,AUSTRALIA,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN
16,11005369169,Uca - Yarawalla,NaN,Business,NaN,NaN,Nan,VIC,3573,Australia,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN
17,11005583960,Odyssey House Victoria,NaN,Business,660 Bridge Rd,NaN,Richmond,VIC,3121,AUSTRALIA,...,NaN,NaN,NaN,NaN,True,NaN,200.0,0.0,200.0,NaN
18,11005898251,The Dla Foundation Pty Ltd,NaN,Business,"L 1, 55 Whitehorse Road",NaN,Balwyn,VIC,3103,AUSTRALIA,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN
19,11005906054,St George Family Support Services Inc.,NaN,Business,42 Jubilee Ave,NaN,Carlton,NSW,2218,AUSTRALIA,...,NaN,NaN,NaN,NaN,NaN,NaN,100.0,0.0,100.0,NaN
20,11008484197,Australian Institute Of Company Directors,NaN,Business,Level 30,20 Bond Street,Sydney,NSW,2000,AUSTRALIA,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN
21,11010805927,Victorian Brumby Association Inc,NaN,Business,213 Lexton Road,NaN,Beaufort,VIC,3373,AUSTRALIA,...,NaN,NaN,NaN,NaN,True,NaN,0.0,20.0,20.0,NaN
22,11010856725,Sydney Sri Ayyappa Swami Centre Incorporated,NaN,Business,Unit20 116-118 McCredie rd,NaN,Guidlford West,NSW,2161,AUSTRALIA,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN
23,11014757615,Hannans Primary School Parents & Citizens Asso...,NaN,Business,Nankiville Road,NaN,Nan,WA,6430,AUSTRALIA,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN
24,11019639609,Denzil Don Kindergarten Inc,NaN,Business,256 Union Street,NaN,West Brunswick,VIC,3055,AUSTRALIA,...,NaN,NaN,NaN,NaN,True,NaN,0.0,0.0,0.0,NaN
25,11019967071,2Lm Childrens Christmas Appeal,NaN,Business,Media Centre,Bruxner Hwy,Goonellabah,NSW,2480,AUSTRALIA,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN
26,11021947936,Yagoona Baptist Church,NaN,Business,18 The Cresent,NaN,Yagoona,NSW,2199,AUSTRALIA,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN
27,11022882563,Irvinebank School Of Arts And Progress Associa...,NaN,Business,16 O'calaghan Street,NaN,Nan,QLD,4887,AUSTRALIA,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN
28,11024646824,Lancefield Kindergarten Inc,NaN,Business,NaN,NaN,Nan,VIC,3435,AUSTRALIA,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN